@model BeestjeOpJeFeestje.ViewModels.BoekingVM

<head>
    <link href="~/Content/steps.css" rel="stylesheet" />
</head>

<div>
    <ol class="progtrckr" data-progtrckr-steps="4">
        <li class="progtrckr-done">Beestjes</li>
        <li class="progtrckr-done">Accessoires</li>
        <li class="progtrckr-done">Gegevens</li>
        <li class="progtrckr-todo">Bevestig</li>
    </ol>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-7 left" style="border:solid 2px lightgray">
            <div class="stepbox col-sm-12" style="background-color: lightgray">
                <p>Stap 4 - Bevestig de boeking</p>
            </div>
            <div class="stepboxcontent">
                @using (Html.BeginForm("Finish", "Home"))
                {
                    @Html.HiddenFor(model => model.Date)
                    for (int i = 0; i < Model.BeestjesIds.Count; i++)
                    {
                        @Html.HiddenFor(model => Model.BeestjesIds[i])
                    }
                    for (int i = 0; i < Model.AccessoiresIds.Count; i++)
                    {
                        @Html.HiddenFor(model => Model.AccessoiresIds[i])
                    }
                    @Html.HiddenFor(model => Model.FirstName)
                    @Html.HiddenFor(model => Model.Prefix)
                    @Html.HiddenFor(model => Model.LastName)
                    @Html.HiddenFor(model => model.Adres)
                    @Html.HiddenFor(model => model.Email)
                    @Html.HiddenFor(model => model.Number)
                    @Html.HiddenFor(model => model.TotalPrice)
            <div>
                <h2>Contact gegevens:</h2>
                <p>@Html.DisplayFor(model => model.FullName)</p>
                <p>@Html.DisplayFor(model => model.Adres)</p>
                <p>@Html.DisplayFor(model => model.Email)</p>
            </div>

            <div>
                <h3>Prijs/Korting</h3>
                <ul>
                    @foreach (var b in Model.SelectedBeestjes)
                    {
                        <li>@b.Name: @b.Price</li>
                    }
                    @foreach (var a in Model.SelectedAccessoires)
                    {
                        <li>@a.Name: @a.Price</li>
                    }
                    @foreach(var d in Model.DiscountList)
                    {
                        <li>@d</li>
                    }
                </ul>
                <hr />
                <h4>Totaal: @Html.DisplayFor(model => model.TotalPrice)</h4>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" name="BtnNext" value="Boeken" class="btn btn-default" />
                </div>
            </div>
        }
            </div>
        </div>
        <div class="col-lg-3 right" style="border:solid 2px lightgray">
            <div class="stepbox" style="background-color: lightgray">
                <p>Boeking</p>
            </div>
            <div class="stepboxcontent">
                <p>Datum: @Model.Date.ToString("dd/MM/yyyy")</p>
                <hr />
                <p>Beestjes:</p>
                @foreach (var b in Model.SelectedBeestjes)
                {
                    <img src='@Url.Content(b.ImagePath)' height="40" />
                }
                <hr />
                <p>Accessoires:</p>
                @if (Model.SelectedAccessoires.Count == 0)
                {
                    <p>Geen accessoires geselecteerd</p>
                }
                else
                {
                    foreach (var a in Model.SelectedAccessoires)
                    {
                        <p>@a.Name</p>
                    }
                }
            </div>

        </div>
    </div>
</div>


