@model IEnumerable<BeestjeOpJeFeestje.ViewModels.AccessoireVM>

<h2>Accessoires overzicht</h2>

<p>
    @Html.ActionLink("Nieuwe accesoire aanmaken", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Foto
        </th>
        <th></th>
    </tr>

@foreach(var item in Model) { 
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @if (item.ImagePath != null)
            {
                <img src='@Url.Content(item.ImagePath)' height="50" />
            }
        </td>
        <td>
            @Html.ActionLink("Aanpassen", "Edit", new { id = item.Accessoire.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Accessoire.Id  }) |
            @Html.ActionLink("Verwijderen", "Delete", new { id=item.Accessoire.Id  })
        </td>
    </tr>
}

</table>
