@model BeestjeOpJeFeestje.ViewModels.BeestjeVM

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Details @Model.Name</h2>
            <div class="row">
                <img class="center-block" height="300" src='@Url.Content(Model.ImagePath)' />
                <div class="center-block">
                    <dl>
                        <dt>Naam </dt>
                        <dd>@Model.Name</dd>
                        <dt>Prijs: </dt>
                        <dd>@Model.Price</dd>
                        @if(@Model.Beest.AccessoireList != null)
                         {
                            <dt>Accessoires:</dt>
                            foreach (var item in Model.AccessoiresList)
                            {
                            <dd>@item.Name</dd>
                            }
                         }
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
